doctype html
html
  head
    link(rel='stylesheet', href='/stylesheets/style.css')
    meta(http-equiv='content-type', content='text/html', charset='utf-8')
    title Babylon - Getting Started
    // link to the last version of babylon
    script(src='/javascripts/BABYLON/babylon.2.4.js')
    script(src='/javascripts/BABYLON/hand-1.3.7.js')
    script(src='/javascripts/Shapes.js')
    script(src='/javascripts/ShapesExtensions.js')
    script(src='/javascripts/renderUtil.js')
    
  body
    block content
